.habbit-container {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 4rem;

  border-bottom: 1px dashed white;
  padding-bottom: 2rem;
}

.buttons-div {
  display: inline;
}

@media (max-width: 820px) {
  .habbit-container {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .buttons-div button {
    margin-left: 1rem !important;
  }

  .goal {
    margin-left: 0px !important;
  }

  #btn-done {
    margin-left: 0px !important;
  }
}

.btn-danger {
  background-color: red !important;
}

.btn-success {
  background-color: green !important;
}

.btn-normal {
  background-color: #1976d2 !important;
}

.habbit-container input {
  color: white !important;
}

.habbit-container label {
  color: white !important;
}

.Habbit-name {
  min-width: 7.5rem;
}

.text-field div {
  border-bottom: 1px solid white !important;
}

.text-field input:focus {
  border-bottom: none !important;
}

.avatar img:hover {
  cursor: pointer;
}
