.habbit-container {
  width: 45rem;
  margin: 0 auto;
  margin-top: 4rem;

  border-bottom: 1px dashed white;
  padding-bottom: 2rem;
}

.btn-danger {
  background-color: red !important;
}

.btn-success {
  background-color: green !important;
}

.btn-normal {
  background-color: #1976d2 !important;
}

.habbit-container input {
  color: white !important;
}

.habbit-container label {
  color: white !important;
}

.Habbit-name{
  min-width: 7.5rem;
}

.text-field div {
  border-bottom: 1px solid white !important;
}

.text-field input:focus {
  border-bottom: none !important;
}

.avatar img:hover{
  cursor: pointer;
}